/* resetes */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: lawngreen;
}
.intensifyfull{
    background-color: #ffffff;
    margin: 0 auto;
    width: 60%;
    height: 300vh;
    overflow: auto;
}
/* navigation starts */
.naviicon{
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    color: #dee1e3;
}
.heading{
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    float: left;
    color: #f6755e;
    margin-top: 5px;
    margin-left: 360px;
}
.login{
    border: 2px solid #dee1e3;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
.login a{
    text-decoration: none;
    color: #727a82;
    padding: 5px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
  
}
/* navigation ends */
/* banner starts */
.banner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    width: 100%;
    margin-top: 61px;
    height: 341px;
    clear: both;
    text-align: center;
}
.textarea{
    width: 408px;
    height: 90px;
    position: relative;
    top: 29%;
    left: 27%;
    text-align: center;
}
.textarea h1{
    color: #25a2c3;
    font-family: 'Lato', sans-serif;
}
.textarea h4{
    color: #767d85;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    line-height: 25px;
    margin-top: 10px;
}
/* banner ends */
