body{
    background-color:#ededed;
}
.mostupper{
    width: 100%;
    height: 179px;
    margin-bottom: 50px;
    background-color: #4c8f96;
}
.navigation-area{ 
    width: 950px;
    height: 179px;
   margin: 0 auto;   
}
.navigation-area h1{
    color: #fff;
    background-color: #212740;
    float: left;
    padding: 17PX 24px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 44px;
    position: relative;
    top: 96px;
    left: 30px;
}
.navigation-area ul{
    float: right;
}
li{
    float: right;
    list-style-type: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    background-color: #1b2130;
    margin-left: 18px;
    padding: 7px;
    position: relative;
    top: 109px;
    right: 300px;
   
}
.upper{
    width: 1000px;
    margin: 0 auto;
}
.header{
    height: 348px;
    width: 950px;
    background-color: white;
    border: 5px solid #5fb3bd;
    margin: 0px auto;
}
.header img{
    height: 348px;
    float: left;
 
}
.header h1{
   float: right;
   margin-right: 204px;
   margin-top: 105px;
   text-transform: capitalize;
   font-family: 'Lobster', cursive;
}
.expert{
   height: 348px;
    width: 950px; 
    margin: 20px auto;
}
.experts{
    width: 235px;
    height: 348px;
    float: left;
    margin-left: 2px;
}
.experts img{
    margin-top: 4px;
    margin-left: 10px;
    border: 4px solid #5fb3bd;
    box-shadow: 5px 10px 10px #888888;
}
.experts h3{
    text-transform: capitalize;
    margin-left: 9px;
}
.experts p{
    line-height: 27px;
}
.lower{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.whiter{
    width: 468px;
    height: 700px;
    margin-top: 84px;
    background-color: white;
    border: 5px groove #5fb3bd;
    float: left;
  
}
.right1{
    width: 500px;
    height: 350px;
    margin-top: 84px;
    float:right;
    border: 5px groove #5fb3bd;
    background-color: #519194;
}
.right2{
    width: 500px;
    height: 300px;
    margin-top: 15px;
    float:right;
    border: 5px groove #5fb3bd;
    background-color: #519194;
}
.whiter h2{
    margin-top: -17px ;
    margin-left: 28px;
    color: white;
    letter-spacing: 5px;
    font-family: 'PT Sans', sans-serif;
    display: inline;
    text-transform: capitalize;
    padding: 5px;
    background-color: black;
}
.whiter img{
    display: block;
    margin-left: 18px;
    margin-top: 28px;
}
.whiter p{
    margin-left: 17px;
    margin-top: 36px;
    line-height: 29px;
}
.right1 h2{
    margin-top: -17px ;
    margin-left: 28px;
    color: white;
    letter-spacing: 5px;
    font-family: 'PT Sans', sans-serif;
    display: inline;
    text-transform: capitalize;
    padding: 5px;
    background-color: black;
}
.right1 p{
    margin-left: 17px;
    margin-top: 36px;
    color: #eaeedc;
    line-height: 24px;
}
.right1 h3{
    float: right;
    font-family: 'Lato', sans-serif;
    margin-right: 19px;
    color:#eaeedc;
    text-transform: capitalize;
}
.right2 img{
    float: left;
    margin-top: -11px;
    height: 320px;
    width: 221px;
}
.right2 p{
    line-height: 36px;
    margin-top: 60PX;
    font-size: 21px;
    color: #eaeedc;
    text-transform: capitalize;
    font-family: 'Secular One', sans-serif;
}